* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.logo, .contacts__item, .menu, .menu__item, .slider__item, .slider__paginator__item, .offer__block, .offer__number {
  float: left; }

.contacts, input[type="search"], input[type="submit"] {
  float: right; }

input[type="search"], input[type="submit"] {
  margin: 8px;
  border: 1px solid #181a1d;
  height: 40px;
  background-color: #35383c;
  outline: none; }

.some {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPg0KCTxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiMyYTJkMzIiLz4NCjwvc3ZnPg==), url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPg0KCTxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNmN2Y3ZjciLz4NCjwvc3ZnPg==), url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPg0KCTxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiMyYTJkMzIiLz4NCjwvc3ZnPg==), url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPg0KCTxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiMzNTM4M2MiLz4NCjwvc3ZnPg==);
  background-size: 20px, 40px, 20px, 60px;
  background-position: top, 0px 600px, 0px 388px, bottom;
  background-repeat: repeat-x; }

body {
  margin: 0 auto;
  width: 1160px;
  font-family: Arial, sans-serif; }

/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
.logo {
  margin: 37px 0 0 4px; }

.contacts {
  margin: 48px 0 0 0px; }

.contacts__item {
  margin: 0 2px 0 15px; }

.contacts__image {
  height: 16px;
  fill: #ccc; }

.contacts__link:hover .contacts__image {
  fill: #248cec; }

/*MENU  STARTS  HERE*/
/*MENU  STARTS  HERE*/
/*MENU  STARTS  HERE*/
nav {
  margin: 37px 0 0 0;
  height: 56px;
  background-color: #2a2d32; }

.menu__item {
  border-right: 1px solid #181a1d; }

.menu__item--first {
  background-color: #248cec; }

.menu__link {
  display: block;
  padding: 0 40px;
  line-height: 56px;
  font-size: 14px;
  color: white; }

.menu__link:hover {
  color: #f4b60d; }

input[type="search"] {
  margin-right: 0;
  padding: 0 0 0 12px;
  border-right: none;
  width: 200px;
  color: white; }

input[type="submit"] {
  margin-left: 0;
  border-left: none;
  padding: 0 20px;
  width: 15px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  cursor: pointer; }

/*SLIDER  STARTS  HERE*/
/*SLIDER  STARTS  HERE*/
/*SLIDER  STARTS  HERE*/
.slider {
  position: relative;
  overflow: hidden;
  margin: 40px 0 0 0; }

.slider__list {
  position: relative;
  width: 9999px; }

.slider__paginator {
  position: absolute;
  bottom: 21px; }

.slider__paginator__item {
  margin: 0 7px;
  border: 3px solid white;
  width: 9px;
  height: 9px;
  background: white;
  cursor: pointer; }

/*OFFER STARTS HERE*/
/*OFFER STARTS HERE*/
/*OFFER STARTS HERE*/
.offer {
  margin: 58px 0 0 0; }

.offer__block {
  width: 363px; }

.offer__block--center {
  margin: 0 34px 0 37px; }

.offer__number {
  margin: 0 23px 0 0;
  padding: 0 0 185px 0;
  line-height: 90px;
  font-size: 90px;
  color: rgba(42, 43, 46, 0.1); }

.offer__image {
  margin: 10px 0 0 0;
  width: 32px;
  height: 32px; }

.offer__header {
  margin: 11px 0 0 0;
  font-size: 20px;
  color: #2a2b2e; }

.offer__text {
  margin: 20px 0 0 0;
  line-height: 19px;
  font-size: 13px;
  color: #8a8a8a; }

.offer__read-more {
  display: inline-block;
  margin: 18px 0 0 0;
  color: #2a2b2e;
  font-size: 13px; }

.offer__read-more:hover {
  color: #248cec; }

.offer___arrow {
  margin: 0 0 0 2px;
  height: 9px;
  fill: #248cec; }

.offer__read-more:hover .offer___arrow {
  fill: #989fb3; }

/*SERVICES STARTS HERE*/
/*SERVICES STARTS HERE*/
/*SERVICES STARTS HERE*/
.services {
  height: 5px;
  background: red; }
