* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.logo, .contacts__item, .menu, .menu__item, .slider__item, .slider__paginator__item, .offer__block, .offer__number, .services__block, .news, .news__image, .banners {
  float: left; }

.contacts, input[type="search"], input[type="submit"] {
  float: right; }

input[type="search"], input[type="submit"] {
  margin: 8px;
  border: 1px solid #181a1d;
  height: 40px;
  background-color: #35383c;
  outline: none; }

.news__date--month, .news__date--day {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px; }

body {
  font-family: Arial, sans-serif; }

.wrapper, .services {
  margin: 0 auto;
  width: 1160px; }

.grey-wrapper-1, .services {
  background: #2a2d32; }

.grey-wrapper-2, .news-and-banners-box {
  background: #f7f7f7; }

/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
.logo {
  margin: 37px 0 0 4px; }

.contacts {
  margin: 48px 0 0 0px; }

.contacts__item {
  margin: 0 2px 0 15px; }

.contacts__image {
  height: 16px;
  fill: #ccc; }

.contacts__link:hover .contacts__image {
  fill: #248cec; }

/*MENU  STARTS  HERE*/
/*MENU  STARTS  HERE*/
/*MENU  STARTS  HERE*/
nav {
  margin: 37px 0 0 0;
  height: 56px;
  background-color: #2a2d32; }

.menu__item {
  border-right: 1px solid #181a1d; }

.menu__item--first {
  background-color: #248cec; }

.menu__link {
  display: block;
  padding: 0 40px;
  line-height: 56px;
  font-size: 14px;
  color: white; }

.menu__link:hover {
  color: #f4b60d; }

input[type="search"] {
  margin-right: 0;
  padding: 0 0 0 12px;
  border-right: none;
  width: 200px;
  color: white; }

input[type="submit"] {
  margin-left: 0;
  border-left: none;
  padding: 0 20px;
  width: 15px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  cursor: pointer; }

/*SLIDER  STARTS  HERE*/
/*SLIDER  STARTS  HERE*/
/*SLIDER  STARTS  HERE*/
.slider {
  position: relative;
  overflow: hidden;
  margin: 40px 0 0 0; }

.slider__list {
  position: relative;
  width: 9999px; }

.slider__paginator {
  position: absolute;
  bottom: 21px; }

.slider__paginator__item {
  margin: 0 7px;
  border: 3px solid white;
  width: 9px;
  height: 9px;
  background: white;
  cursor: pointer; }

/*OFFER STARTS HERE*/
/*OFFER STARTS HERE*/
/*OFFER STARTS HERE*/
.offer {
  margin: 58px 0 0 0; }

.offer__block {
  width: 363px; }

.offer__block--center {
  margin: 0 34px 0 37px; }

.offer__number {
  margin: 0 23px 0 0;
  padding: 0 0 185px 0;
  line-height: 90px;
  font-size: 90px;
  color: rgba(42, 43, 46, 0.1); }

.offer__image {
  margin: 10px 0 0 0;
  width: 32px;
  height: 32px; }

.offer__header {
  margin: 11px 0 0 0;
  font-size: 20px;
  color: #2a2b2e; }

.offer__text {
  margin: 20px 0 0 0;
  line-height: 19px;
  font-size: 13px;
  color: #8a8a8a; }

.offer__read-more {
  display: inline-block;
  margin: 18px 0 0 0;
  color: #2a2b2e;
  font-size: 13px; }

.offer__read-more:hover {
  color: #248cec; }

.offer___arrow {
  margin: 0 0 0 2px;
  height: 9px;
  fill: #248cec; }

.offer__read-more:hover .offer___arrow {
  fill: #989fb3; }

/*SERVICES STARTS HERE*/
/*SERVICES STARTS HERE*/
/*SERVICES STARTS HERE*/
.services {
  padding: 0 0 67px 0; }

.services__header {
  padding: 44px 0 51px;
  font-size: 24px;
  font-weight: normal;
  color: white; }

.services__block {
  position: relative; }

.services__block--second {
  margin: 0 40px; }

.services__block--last {
  margin: 0 0 0 40px; }

.services__block__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
  background-image: url(../img/cross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #248cec;
  opacity: .9; }

.services__caption {
  margin: 28px 0 0 0;
  color: white;
  font-size: 16px;
  text-align: center; }

.services__block:hover .services__block__hover {
  display: block; }

.services__block:hover .services__caption {
  color: #f4b60d; }

/*LATEST NEWS STARTS HERE*/
/*LATEST NEWS STARTS HERE*/
/*LATEST NEWS STARTS HERE*/
.news-and-banners-box {
  margin: 0 auto;
  padding: 0 0 53px 0;
  width: 1180px; }

.news {
  width: 582px; }

.news__block {
  position: relative;
  margin: 0 0 30px 0; }

.news__main-header, .banners__header {
  margin: 0 0 43px 17px;
  padding: 59px 0 0 0;
  font-size: 24px;
  color: #2a2d32; }

.news__image {
  margin: 0 35px 0 17px; }

.news__date {
  position: absolute;
  top: 13px;
  left: 0px; }

.news__date--month {
  background: #248cec;
  font-size: 15px;
  color: white; }

.news__date--day {
  background: #f4b60d;
  font-size: 18px;
  color: #2a2b2e; }

.news__header {
  padding: 6px 0 0 0;
  font-size: 16px; }

.news__header--link {
  color: #2a2d32; }

.news__header--link:hover {
  color: #248cec; }

.news__subheader {
  margin: 5px 0 0 0;
  font-size: 13px;
  color: #9d9d9d; }

.news__subheader--author {
  margin: 0 3px 0 0; }

.news__subheader--comments, .news__subheader--author {
  color: #0187f4; }

.news__text {
  margin: 26px 0 0 0;
  line-height: 19px;
  font-size: 13px;
  color: #8a8a8a; }

/*BANNER PLACE STARTS HERE*/
/*BANNER PLACE STARTS HERE*/
/*BANNER PLACE STARTS HERE*/
.banners {
  margin: 0 0 0 35px;
  width: 560px; }

.banners__header {
  margin-left: 0; }

.banners__accordion-panel {
  margin: 0 0 5px 0;
  border: 1px solid #e8e8e8;
  width: 560px;
  height: 37px;
  background: white;
  font-size: 13px;
  line-height: 37px;
  text-transform: uppercase;
  color: #2a2d32;
  cursor: pointer; }

.banners__accordion-panel-icon {
  display: inline-block;
  margin: 0 13px 0 0;
  border-right: 2px solid #e8e8e8;
  width: 37px;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  text-align: center;
  line-height: 37px;
  color: #2a2d32; }

.banners__accordion-panel--opened {
  border-right: 1px solid #f4b60d;
  background: #f4b60d;
  color: white; }

.banners__accordion-panel-icon--opened {
  border-right: 1px solid #f6c53d;
  background: #f4b60d;
  color: white; }

.banners__accordion-text {
  display: none;
  margin: 26px 0 37px 38px;
  width: 520px;
  font-size: 13px;
  line-height: 20px;
  color: #8a8a8a; }
