%floatLeft {
	float: left;
}

%floatRight {
	float: right;
}

%search {
	margin: 8px;
	border: 1px solid #181a1d;
	height: 40px;
	background-color: #35383c;
	outline: none;
}

%news-date {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}