%floatLeft {
	float: left;
}

%floatRight {
	float: right;
}

%search {
	margin: 8px;
	border: 1px solid #181a1d;
	height: 40px;
	background-color: #35383c;
	outline: none;
}

%news-date {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

%prefooter__lists {
	margin-top: 60px;
	display: inline-block;
	width: 256px;
}

%footer__paragraphs {
	margin: 22px 0 19px;
	font-size: 12px;
	color: rgba(255, 255, 255, .2);
}

%footer__text {
	position: relative;
	top: -4px;
}