$hoverColorBlue:      #248cec;
$hoverColorYellow:    #f4b60d;
$mainSiteColor:       #2a2d32;
$headerColor:         #2a2b2e;
$greyWrapperColor1:   #f7f7f7;
$greyWrapperColor2:   #35383c;
$textColor:           #8a8a8a;