@import "preSettings";
@import "variables";
@import "extendSelectors";


body {
	font-family: Arial, sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 1160px;
}

.mega-wrapper {
	background: $greyWrapperColor1;
}


/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/


.logo {
	@extend %floatLeft;
	margin: 37px 0 0 4px;
}

.contacts {
	@extend %floatRight;
	margin: 48px 0 0 0px;
}

.contacts__item {
	@extend %floatLeft;
	margin: 0 2px 0 15px;
}

.contacts__link {
}

.contacts__image {
	height: 16px;
	fill: #ccc;
}

.contacts__link:hover .contacts__image {
	fill: $hoverColor;
}


/*MENU  STARTS  HERE*/
/*MENU  STARTS  HERE*/
/*MENU  STARTS  HERE*/


nav {
	margin: 37px 0 0 0;
	height: 56px;
	background-color: $mainSiteColor;
}

.menu {
	@extend %floatLeft;
}

.menu__item {
	@extend %floatLeft;
	border-right: 1px solid #181a1d;
}

.menu__item--first {
	background-color: $hoverColor;
}

.menu__link {
	display: block;
	padding: 0 40px;
	line-height: 56px;
	font-size: 14px;
	color: white;
}

.menu__link:hover {
	color: #f4b60d;
}

input[type="search"] {
	@extend %floatRight;
	@extend %search;
	margin-right: 0;
	padding: 0 0 0 12px;
	border-right: none;
	width: 200px;
	color: white;
}

input[type="submit"] {
	@extend %floatRight;
	@extend %search;
	margin-left: 0;
	border-left: none;
	padding: 0 20px;
	width: 15px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
	cursor: pointer;
}


/*SLIDER  STARTS  HERE*/
/*SLIDER  STARTS  HERE*/
/*SLIDER  STARTS  HERE*/


.slider {
	position: relative;
	overflow: hidden;
	margin: 40px 0 0 0;
}

.slider__list {
	position: relative;
	width: 9999px;
}

.slider__item {
	@extend %floatLeft;
}

.slider__paginator{
	position: absolute;
	bottom: 21px;
}

.slider__paginator__item {
	@extend %floatLeft;
	margin: 0 7px;
	border: 3px solid white;
	width: 9px;
	height: 9px;
	background: white;
	cursor: pointer;
}


/*OFFER STARTS HERE*/
/*OFFER STARTS HERE*/
/*OFFER STARTS HERE*/


.offer {
	margin: 58px 0 0 0;
}

.offer__block {
	@extend %floatLeft;
	width: 363px;
}

.offer__block--center {
	margin: 0 34px 0 37px;
}

.offer__number {
	@extend %floatLeft;
	margin: 0 23px 0 0;
	padding: 0 0 185px 0;
	line-height: 90px;
	font-size: 90px;
	color: rgba(42, 43, 46, 0.1);
}

.offer__image {
	margin: 10px 0 0 0;
	width: 32px;
	height: 32px;
}

.offer__header {
	margin: 11px 0 0 0;
	font-size: 20px;
	color: $headerColor;
}

.offer__text {
	margin: 20px 0 0 0;
	line-height: 19px;
	font-size: 13px;
	color: #8a8a8a;
}

.offer__read-more {
	display: inline-block;
	margin: 18px 0 0 0;
	color: $headerColor;
	font-size: 13px;
}

.offer__read-more:hover {
	color: $hoverColor;
}

.offer___arrow {
	margin: 0 0 0 2px;
	height: 9px;
	fill: $hoverColor;
}

.offer__read-more:hover .offer___arrow {
	fill: #989fb3;
}


/*SERVICES STARTS HERE*/
/*SERVICES STARTS HERE*/
/*SERVICES STARTS HERE*/


.services {
	@extend .mega-wrapper;
	@extend .wrapper;
	padding: 0 0 67px 0;
}

.services__header {
	padding: 44px 0 51px;
	font-size: 24px;
	font-weight: normal;
	color: white;
}

.services__block {
	@extend %floatLeft;
	position: relative;
}

.services__block__hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	height: 260px;
	background-image: url(../img/cross.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: $hoverColor;
	opacity: .9;
}

.services__block:hover .services__block__hover {
	display: block;
}

.services__block--second {
	margin: 0 40px;
}

.services__block--last {
	margin: 0 0 0 40px;
}

.services__caption {
	margin: 28px 0 0 0;
	color: white;
	font-size: 16px;
	text-align: center;
}

.services__block:hover .services__caption {
	color: #f4b60d;
}